

html {
   color: black;
   background: rgb(64,64,64);
   font-family: 'Helvetica Neue', 'Helvetica-Neue', 'Helvetica', 'Arial', sans-serif;
   padding: 1em 2em 1em 2em;
   margin: auto;
   max-width: 960px;
   min-width: 480px;
   position: relative;
}

header {
   color: white;
   background: lightgray;
   padding: 0em 0em 0em 0em;
   margin: 0em 0em 0em 0em;
}

body {
   color: black;
   background: white;
   /* font-size: 1em;
   font-weight: 400;  */
   padding: 1em 2em 1em 2em;
   margin: 1em 1em 1em 1em;
}


ol li {
   margin-top: 1em;
   margin-bottom: 1em;
   padding-left: 1ex;
}

/* Add a black background color to the top navigation */
nav {
  background-color: lightgray;
  overflow: hidden;
  position: relative;
}

nav ul {
   list-style-type: none;
}

nav li {
   display: inline-block;
}

/* Style the links inside the navigation bar */
nav a {
  float: center;
  color: black;
  text-align: center;
  padding: 1em 1em 1em 1em;
  margin: 0em 0em 0em 0em;
  text-decoration: none;
}

/* Change the color of links on hover */
nav a:hover {
   background-color: dimgray;
   color: white;
}

/* Add a color to the active/current link */
nav a:active {
   background: white;
   background-color: white;
   color: black;
}

nav li:active a:hover {
   background: white;
   background-color: white;
   color: black;
}




nav li ul a:hover { color: black; }

.show-menu {
   text-decoration: none;
   color: white;
   background: lightgray;
   text-align: center;
   padding: 0em 0em 0em 0em;
   display: none;
}

nav input[type=checkbox] { display: none; -webkit-appearance: none; }
nav input[type=checkbox]:checked ~ ul { display: block; }

footer {
   background: lightgray;
   color: black;
   padding: 1em 2em 1em 2em;
   margin: 0em 0em 0em 0em;
}


a         { color: rgba(30,144,255,1); text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: rgba(30,144,255,1); }
a:active,
a:focus   { outline: 0; }
a:target  { color: rgba(30,144,255,1); }


hr {
   color: gray;
   background-color: gray;
   height: 1px;
   display: block;
   border: none;
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
   padding: none;
}


#experiments table {
   /* width: 100%; */
   padding: 1em 1em 1em 1em;
}

#experiments th {
  padding-top: 1ex;
  padding-bottom: 1ex;
  padding-left: 1ex;
  padding-right: 1ex;
  text-align: left;
  background-color: none;
  color: black;
}

#experiments td {
   padding: 1ex 1ex 1ex 1ex;
}
/*
#experiments tr:nth-child(even) {
   background-color: lightgray;
}
*/
#experiments tr:hover {
   background-color: lemonchiffon;
}

#publications mark {
   color: white;
   border-radius: 1em;
   background-color: dimgray;
   font-weight: bold;
   font-size: 0.70em;
   text-align: center;
   vertical-align: middle;
   padding: 0.3em 1em 0.3em 1em;

}

#flush-right {
   width: 100%;
   justify-content: right;
}

#publications p {
   margin: 0ex 0ex 0ex 0ex;
   padding: 0.5ex 0ex 0.5ex 0ex;
}

#publications li:hover {
   background-color: lemonchiffon;
}
