<footer>
   <p>
      <i class="fab fa-gitlab"></i> <a href="https://gitlab.com/rmlm">rmlm</a>
      &nbsp | &nbsp
      <i class="fab fa-github"></i> <a href="https://github.com/rmlm2">rmlm2</a>
      &nbsp | &nbsp
      <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/a/0000-0002-1389-2410.html">McFadden, R M L</a>
      &nbsp | &nbsp
      <i class="ai ai-orcid"></i> <a href="https://orcid.org/0000-0002-1389-2410">0000-0002-1389-2410</a>
      <!---
      <br/>
      <br/>
      Copyright © 2019 Ryan M. L. McFadden
      -->
   </p>
</footer>

<!--
This webdesign is licensed under a Creative Commons Attribution 4.0 International License - http://creativecommons.org/licenses/by/4.0/.
This design has been adapted from the work of Joseph Wright found at https://github.com/josephwright/josephwright.github.io for his blog https://www.texdev.net/.
Joseph's work is based on the work at https://github.com/latex3/latex3.github.io by Jonas Jacek http://jonas.me/.
-->
