<head>
   <meta charset="utf-8">
   
   <title>
      {% if page.title %}
         {{ page.title }}
      {% else %}
         {{ site.name }}
      {% endif %}
   </title>
   
   {% if page.description %}
      <meta name="description" content="{{ page.description }}">
   {% endif %}
   
   <meta name="viewport" content="width=device-width">
   
   <link rel="stylesheet" href="{{ "/css/screen.css" }}">
   
   <link rel="icon" type="image/x-icon" href="/favicon.ico">
   
   {% feed_meta %}
</head>
