<nav>
   <label for="show-menu" class="show-menu">Show Menu</label>
   <input type="checkbox" id="show-menu" >
   <ul>
      {% if page.url == '/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/" }}">Home</a></li>
      
      {% if page.url == '/cv/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/cv/" }}">CV</a></li>
      
      {% if page.url == '/bnmr/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/bnmr/" }}">β-NMR</a></li>
      
      {% if page.url == '/archive/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/archive/" }}">Archive</a></li>
   </ul>
</nav>
