<center>
	<table id="experiments">
		<thead>
			<th>Number</th>
			<th>Title</th>
		</thead>
		<tbody>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1960">M1960</a></td>
				<td>Using β-NMR spectroscopy to explore the coordination chemistry of different Ac-based novel chelators and radiopharmaceuticals</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1871">M1871</a></td>
				<td>Strain-induced ferroelectricity in SrTiO<sub>3</sub> thin films</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1822">M1822</a></td>
				<td><sup>8</sup>Li betaNMR study of the Inverse Perovskite Oxide Topological Dirac Semimetals</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1821">M1821</a></td>
				<td><sup>8</sup>Li βNMR study of the origin of the heavy fermions in epitaxial films of LiV<sub>2</sub>O<sub>4</sub></td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1771">M1771</a></td>
				<td>β-NMR studies of lithium-ion mobility in tunnel structured materials</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1770">M1770</a></td>
				<td>Polaronic effects in titanates studied with β-NMR</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1768">M1768</a></td>
				<td>Effect of electric fields on shallow muonium</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1767">M1767</a></td>
				<td>Size dependence of the Morin transition in hematite nanoparticles</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1760">M1760</a></td>
				<td>The modification of polymer dynamics by plastic deformation studied by <sup>8</sup>Li βNMR</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1759">M1759</a></td>
				<td>Novel spin textures in magnetically doped Weyl semimetals</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1743">M1743</a></td>
				<td>β-NMR studies of dilute-limit lithium diffusion in van der Waals layered solids</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1614">M1614</a></td>
				<td>Magneto electric effects in Cr<sub>2</sub>O<sub>3</sub></td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1606">M1606</a></td>
				<td>Diffusion of <sup>8</sup>Li in thin films</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1604">M1604</a></td>
				<td><sup>8</sup>Li beta-NMR studies of magnetic proximity effects</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1587">M1587</a></td>
				<td>betaNMR studies of ultrastable molecular glasses</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1571">M1571</a></td>
				<td>Comparison of <sup>8</sup>Li and <sup>9</sup>Li spin relaxation rates</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1563">M1563</a></td>
				<td>βNMR study of finite size effects in ligand-capped metal nanoparticles</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1562">M1562</a></td>
				<td>Defect-related magnetism in oxide materials</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1538">M1538</a></td>
				<td>Depth-dependent magnetoelectric coupling investigated with B-NMR</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1490">M1490</a></td>
				<td>Li distribution in the interface between electrode and electrolyte</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1476">M1476</a></td>
				<td>Origin of the Multi-Peak Muon Frequency Spectrum in the Heavy Fermion Compound UBe<sub>13</sub></td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1465">M1465</a></td>
				<td><sup>8</sup>Li β-NMR study of the surface states in rare earth hexaborides</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1462">M1462</a></td>
				<td>Interaction of Muonium with Nanoparticles</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1426">M1426</a></td>
				<td><sup>8</sup>Li betaNMR Studies of the Metallic State of Strongly Correlated Transition Metal Oxides</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1424">M1424</a></td>
				<td>Magnesium Chemical Shift Measurements by <sup>31</sup>Mg betaNMR</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1419">M1419</a></td>
				<td>betaNMR studies of interface effects in Li<sup>+</sup> ion diffusion in solids</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1414">M1414</a></td>
				<td>betaNMR study of spin injection in Fe/GaAs heterostructures</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1409">M1409</a></td>
				<td>Surface and bulk spin reorientation transitions in Fe-oxide basedsystems studied using β-NMR</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1306">M1306</a></td>
				<td>β-NMR studies of the surface states of topological insulators</td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1268">M1268</a></td>
				<td>Free Radical Chemistry in Supercritical CO<sub>2</sub></td>
			</tr>
			<tr>
				<td><a href="https://mis.triumf.ca/science/experiment/view/M1131">M1131</a></td>
				<td>Free Radical Dynamics, Reactions and Hfcs in Supercritical CO<sub>2</sub></td>
			</tr>
		</tbody>
		</table>
</center>
