<ol reversed id="publications">
<li>
<p>R. M. L. McFadden</p>
<p><i>Microscopic dynamics of isolated lithium in crystalline solids revealed by nuclear magnetic relaxation and resonance of <sup>8</sup>Li</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0389972">10.14288/1.0389972</a></p>
</li>
<li>
<p>C. A. Chatzichristos</p>
<p><i>Diffusion and surface trapping of <sup>8</sup>Li in rutile TiO<sub>2</sub> and the comparison on <sup>8</sup>Li and <sup>9</sup>Li spin relaxation using β-NMR</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0388862">10.14288/1.0388862</a></p>
</li>
<li>
<p>C. J. Dietl</p>
<p><i>Synthesis and electronic ordering phenomena of calcium ruthenate thin films</i></p>
<p>PhD thesis (University of Stuttgart, Stuttgart, 2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.18419/opus-10069">10.18419/opus-10069</a></p>
</li>
<li>
<p>Q. Song</p>
<p><i>Beta-detected NMR of <sup>8</sup>Li<sup>+</sup> in spintronic materials</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0073399">10.14288/1.0073399</a></p>
</li>
<li>
<p>M. D. Hossain</p>
<p><i>Absolute value of the magnetic penetration depth and field profile in the Meissner state of exotic superconductors yttrium barium copper oxide and Co-doped pnictide</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0073321">10.14288/1.0073321</a></p>
</li>
<li>
<p>T. J. Parolin</p>
<p><i>Using low-energy <sup>8</sup>Li beta-detected NMR to probe the magnetism of transition metals</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2011) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0062186">10.14288/1.0062186</a></p>
</li>
<li>
<p>D. Wang</p>
<p><i>Near surface vortex lattice in NbSe<sub>2</sub> studies with low energy beta-NMR</i></p>
<p>MSc thesis (University of British Columbia, Vancouver, 2006) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0085246">10.14288/1.0085246</a></p>
</li>
<li>
<p>T. A. Keeler</p>
<p><i>Hyperfine magnetic fields in Fe/Ag magnetic multilayers probed with low energy spin polarized <sup>8</sup>Li</i></p>
<p>MSc thesis (University of British Columbia, Vancouver, 2006) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0092912">10.14288/1.0092912</a></p>
</li>
<li>
<p>M. D. Hossain</p>
<p><i>Measurement of the london penetration depth in the Meissner state of NbSe<sub>2</sub> using low energy polarized <sup>8</sup>Li</i></p>
<p>MSc thesis (University of British Columbia, Vancouver, 2006) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0092663">10.14288/1.0092663</a></p>
</li>
<li>
<p>H. Saadaoui</p>
<p><i>Magnetic properties near the surface of cuprate superconductors studied using beta-detected NMR</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2009) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0068610">10.14288/1.0068610</a></p>
</li>
</ol>
