<ol reversed id="publications">
<li>
<p>J. O. Ticknor, I. Umegaki, R. M. L. McFadden, A. Chatzichristos, D. Fujimoto, V. L. Karner, R. F. Kiefl, S. Kobayashi, C. D. P. Levy, R. Li, G. D. Morris, M. R. Pearson, K. Yoshimura, J. Sugiyama, and W. A. MacFarlane</p>
<p><i>Investigation of ionic and anomalous magnetic behavior in CrSe<sub>2</sub> using <sup>8</sup>Li β-NMR</i></p>
<p>RSC Adv. <b>10</b>, 8190 (2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C9RA07065F">10.1039/C9RA07065F</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1908.05421">arXiv:1908.05421 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>D. Fujimoto, R. M. L. McFadden, M. H. Dehn, Y. Petel, A. Chatzichristos, L. Hemmingsen, V. L. Karner, R. F. Kiefl, C. D. P. Levy, I. McKenzie, C. A. Michal, G. D. Morris, M. R. Pearson, D. Szunyogh, J. O. Ticknor, M. Stachura, and W. A. MacFarlane</p>
<p><i>Dynamics of liquid 1-ethyl-3-methylimidazolium acetate measured with implanted-ion <sup>8</sup>Li β-NMR</i></p>
<p>Chem. Mater. <b>31</b>, 9346 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/acs.chemmater.9b02864">10.1021/acs.chemmater.9b02864</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1907.03684">arXiv:1907.03684 [cond-mat.soft]</a></p>
</li>
<li>
<p>V. L. Karner, A. Chatzichristos, D. L. Cortie, M. H. Dehn, O. Foyevtsov, K. Foyevtsova, D. Fujimoto, R. F. Kiefl, C. D. P. Levy, R. Li, R. M. L. McFadden, G. D. Morris, M. R. Pearson, M. Stachura, J. O. Ticknor, G. Cristiani, G. Logvenov, F. Wrobel, B. Keimer, J. Zhang, J. F. Mitchell, and W. A. MacFarlane</p>
<p><i>Local metallic and structural properties of the strongly correlated metal LaNiO<sub>3</sub> using <sup>8</sup>Li β-NMR</i></p>
<p>Phys. Rev. B <b>100</b>, 165109 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.100.165109">10.1103/PhysRevB.100.165109</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1906.07878">arXiv:1906.07878 [cond-mat.str-el]</a></p>
</li>
<li>
<p>A. Chatzichristos, R. M. L. McFadden, M. H. Dehn, S. R. Dunsiger, D. Fujimoto, V. L. Karner, I. McKenzie, G. D. Morris, M. R. Pearson, M. Stachura, J. Sugiyama, J. O. Ticknor, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Bi-Arrhenius diffusion and surface trapping of <sup>8</sup>Li<sup>+</sup> in rutile TiO<sub>2</sub></i></p>
<p>Phys. Rev. Lett. <b>123</b>, 095901 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.123.095901">10.1103/PhysRevLett.123.095901</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.12537">arXiv:1810.12537 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>R. M. L. McFadden, A. Chatzichristos, K. H. Chow, D. L. Cortie, M. H. Dehn, D. Fujimoto, M. D. Hossain, H. Ji, V. L. Karner, R. F. Kiefl, C. D. P. Levy, R. Li, I. McKenzie, G. D. Morris, O. Ofer, M. R. Pearson, M. Stachura, R. J. Cava, and W. A. MacFarlane</p>
<p><i>Ionic and electronic properties of the topological insulator Bi<sub>2</sub>Te<sub>2</sub>Se investigated via β-detected nuclear magnetic relaxation and resonance of <sup>8</sup>Li</i></p>
<p>Phys. Rev. B <b>99</b>, 125201 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.99.125201">10.1103/PhysRevB.99.125201</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.07879">arXiv:1810.07879 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>D. Szunyogh, R. M. L. McFadden, V. L. Karner, A. Chatzichristos, T. Day Goodacre, M. H. Dehn, L. Formenti, D. Fujimoto, A. Gottberg, E. Kallenberg, I. Kálomista, R. F. Kiefl, F. H. Larsen, J. Lassen, C. D. P. Levy, R. Li, W. A. MacFarlane, I. McKenzie, G. D. Morris, S. Pallada, M. R. Pearson, S. P. A. Sauer, P. Schaffer, P. W. Thulstrup, L. Hemmingsen, and M. Stachura</p>
<p><i>Direct observation of Mg<sup>2+</sup> complexes in ionic liquid solutions by <sup>31</sup>Mg β-NMR spectroscopy</i></p>
<p>Dalton Trans. <b>47</b>, 14431 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C8DT02350F">10.1039/C8DT02350F</a></p>
</li>
<li>
<p>I. McKenzie, Y. Chai, D. L. Cortie, J. A. Forrest, D. Fujimoto, V. L. Karner, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, R. M. L. McFadden, G. D. Morris, M. R. Pearson, and S. Zhu</p>
<p><i>Direct measurements of the temperature, depth and processing dependence of phenyl ring dynamics in polystyrene thin films by β-detected NMR</i></p>
<p>Soft Matter <b>14</b>, 7324 (2018) <mark>Inside Front Cover</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C8SM00812D">10.1039/C8SM00812D</a></p>
</li>
<li>
<p>R. M. L. McFadden, T. J. Buck, A. Chatzichristos, C.-C. Chen, K. H. Chow, D. L. Cortie, M. H. Dehn, V. L. Karner, D. Koumoulis, C. D. P. Levy, C. Li, I. McKenzie, R. Merkle, G. D. Morris, M. R. Pearson, Z. Salman, D. Samuelis, M. Stachura, J. Xiao, J. Maier, R. F. Kiefl, and W. A. MacFarlane</p>
<p><i>Microscopic dynamics of Li<sup>+</sup> in rutile TiO<sub>2</sub> revealed by <sup>8</sup>Li β-detected nuclear magnetic resonance</i></p>
<p>Chem. Mater. <b>29</b>, 10187 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/acs.chemmater.7b04093">10.1021/acs.chemmater.7b04093</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1709.06674">arXiv:1709.06674 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>J. Sugiyama, I. Umegaki, T. Uyama, R. M. L. McFadden, S. Shiraki, T. Hitosugi, Z. Salman, H. Saadaoui, G. D. Morris, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Lithium diffusion in spinel Li<sub>4</sub>Ti<sub>5</sub>O<sub>12</sub> and LiTi<sub>2</sub>O<sub>4</sub> films detected with <sup>8</sup>Li β-NMR</i></p>
<p>Phys. Rev. B <b>96</b>, 094402 (2017) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.96.094402">10.1103/PhysRevB.96.094402</a></p>
</li>
<li>
<p>A. Chatzichristos, R. M. L. McFadden, V. L. Karner, D. L. Cortie, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, M. R. Pearson, Z. Salman, and R. F. Kiefl</p>
<p><i>Determination of the nature of fluctuations using <sup>8</sup>Li and <sup>9</sup>Li β-NMR and spin-lattice relaxation</i></p>
<p>Phys. Rev. B <b>96</b>, 014307 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.96.014307">10.1103/PhysRevB.96.014307</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1703.10156">arXiv:1703.10156 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>I. McKenzie, D. L. Cortie, M. Harada, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, R. M. L. McFadden, G. D. Morris, S.-I. Ogata, M. R. Pearson, and J. Sugiyama</p>
<p><i>β-NMR measurements of molecular-scale lithium-ion dynamics in poly(ethylene oxide)-lithium-salt thin films</i></p>
<p>J. Chem. Phys. <b>146</b>, 244903 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1063/1.4989866">10.1063/1.4989866</a></p>
</li>
<li>
<p>D. L. Cortie, T. Buck, M. H. Dehn, V. L. Karner, R. F. Kiefl, C. D. P. Levy, R. M. L. McFadden, G. D. Morris, I. McKenzie, M. R. Pearson, X. L. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR investigation of the depth-dependent magnetic properties of an antiferromagnetic surface</i></p>
<p>Phys. Rev. Lett. <b>116</b>, 106103 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.116.106103">10.1103/PhysRevLett.116.106103</a></p>
</li>
<li>
<p>W. A. MacFarlane, Q. Song, N. J. C. Ingle, K. H. Chow, M. Egilmez, I. Fan, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, G. D. Morris, T. J. Parolin, M. R. Pearson, H. Saadaoui, Z. Salman, and D. Wang</p>
<p><i>β-detected NMR spin relaxation in a thin film heterostructure of ferromagnetic EuO</i></p>
<p>Phys. Rev. B <b>92</b>, 064409 (2015)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.92.064409">10.1103/PhysRevB.92.064409</a></p>
</li>
<li>
<p>D. Koumoulis, G. D. Morris, L. He, X. Kou, D. King, D. Wang, M. D. Hossain, K. L. Wang, G. A. Fiete, M. G. Kanatzidis, and L.-S. Bouchard</p>
<p><i>Nanoscale β-nuclear magnetic resonance depth imaging of topological insulators</i></p>
<p>Proc. Natl. Acad. Sci. U.S.A. <b>112</b>, E3645 (2015) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1073/pnas.1502330112">10.1073/pnas.1502330112</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1506.08940">arXiv:1506.08940 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>D. L. Cortie, T. Buck, M. H. Dehn, R. F. Kiefl, C. D. P. Levy, R. M. L. McFadden, G. D. Morris, M. R. Pearson, Z. Salman, Y. Maeno, and W. A. MacFarlane</p>
<p><i>Spin fluctuations in the exotic metallic state of Sr<sub>2</sub>RuO<sub>4</sub> studied with β-NMR</i></p>
<p>Phys. Rev. B <b>91</b>, 241113(R) (2015)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.91.241113">10.1103/PhysRevB.91.241113</a></p>
</li>
<li>
<p>W. A. MacFarlane</p>
<p><i>Implanted-ion βNMR: a new probe for nanoscience</i></p>
<p>Solid State Nucl. Magn. Reson. <b>68–69</b>, 1 (2015)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.ssnmr.2015.02.004">10.1016/j.ssnmr.2015.02.004</a></p>
</li>
<li>
<p>I. McKenzie, C. R. Daley, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, M. R. Pearson, D. Wang, and J. A. Forrest</p>
<p><i>Enhanced high-frequency molecular dynamics in the near-surface region of polystyrene thin films observed with β-NMR</i></p>
<p>Soft Matter <b>11</b>, 1755 (2015)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C4SM02245A">10.1039/C4SM02245A</a></p>
</li>
<li>
<p>W. A. MacFarlane, C. B. L. Tschense, T. Buck, K. H. Chow, D. L. Cortie, A. N. Hariwal, R. F. Kiefl, D. Koumoulis, C. D. P. Levy, I. McKenzie, F. H. McGee, G. D. Morris, M. R. Pearson, Q. Song, D. Wang, Y. S. Hor, and R. J. Cava</p>
<p><i>β-detected NMR of <sup>8</sup>Li<sup>+</sup> in Bi, Sb, and the topological insulator Bi<sub>0.9</sub>Sb<sub>0.1</sub></i></p>
<p>Phys. Rev. B <b>90</b>, 214422 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.90.214422">10.1103/PhysRevB.90.214422</a></p>
</li>
<li>
<p>I. McKenzie, M. Harada, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, S.-I. Ogata, M. R. Pearson, and J. Sugiyama</p>
<p><i>β-NMR measurements of lithium ion transport in thin films of pure and lithium-salt-doped poly(ethylene oxide)</i></p>
<p>J. Am. Chem. Soc. <b>136</b>, 7833 (2014) <i class="ai ai-open-access" style="color:orangered"></i> <mark>ACS Editors' Choice</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/ja503066a">10.1021/ja503066a</a></p>
</li>
<li>
<p>R. F. Kiefl, W. A. MacFarlane, K. H. Chow, G. D. Morris, C. D. P. Levy, and M. R. Pearson</p>
<p><i>Recent progress with β-NMR at ISAC</i></p>
<p>Nucl. Phys. News <b>23</b>, 29 (2013)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1080/10619127.2013.855575">10.1080/10619127.2013.855575</a></p>
</li>
<li>
<p>A. Voss, M. R. Pearson, F. Buchinger, J. E. Crawford, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, E. Mané, G. D. Morris, O. T. J. Shelbaya, Q. Song, and D. Wang</p>
<p><i>High precision measurement of the <sup>11</sup>Li and <sup>9</sup>Li quadrupole moment ratio using zero field β-NQR</i></p>
<p>J. Phys. G: Nucl. Part. Phys. <b>14</b>, 015104 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/0954-3899/41/1/015104">10.1088/0954-3899/41/1/015104</a></p>
</li>
<li>
<p>W. A. MacFarlane, T. J. Parolin, T. I. Larkin, G. Richter, K. H. Chow, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, G. D. Morris, O. Ofer, M. R. Pearson, H. Saadaoui, Q. Song, and D. Wang</p>
<p><i>Finite-size effects in the nuclear magnetic resonance of epitaxial palladium thin films</i></p>
<p>Phys. Rev. B <b>88</b>, 144424 (2013)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.88.144424">10.1103/PhysRevB.88.144424</a></p>
</li>
<li>
<p>G. D. Morris</p>
<p><i>β-NMR</i></p>
<p>Hyperfine Interact. <b>225</b>, 173 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-013-0894-6">10.1007/s10751-013-0894-6</a></p>
</li>
<li>
<p>C. D. P. Levy, M. R. Pearson, R. F. Kiefl, E. Mané, G. D. Morris, and A. Voss</p>
<p><i>Laser polarization facility</i></p>
<p>Hyperfine Interact. <b>225</b>, 165 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-013-0896-4">10.1007/s10751-013-0896-4</a></p>
</li>
<li>
<p>Z. Salman, O. Ofer, M. Radovic, H. Hao, M. Ben Shalom, K. H. Chow, Y. Dagan, M. D. Hossain, C. D. P. Levy, W. A. MacFarlane, G. M. Morris, L. Patthey, M. R. Pearson, H. Saadaoui, T. Schmitt, D. Wang, and R. F. Kiefl</p>
<p><i>Nature of weak magnetism in SrTiO<sub>3</sub>/LaAlO<sub>3</sub> Multilayers</i></p>
<p>Phys. Rev. Lett. <b>109</b>, 257207 (2012)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.109.257207">10.1103/PhysRevLett.109.257207</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1211.4961">arXiv:1211.4961 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>O. Ofer, K. H. Chow, I. Fan, M. Egilmez, T. J. Parolin, M. D. Hossain, J. Jung, Z. Salman, R. F. Kiefl, C. D. P. Levy, G. D. Morris, M. R. Pearson, H. Saadaoui, Q. Song, D. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR study of isolated <sup>8</sup>Li<sup>+</sup> in the enhanced paramagnet platinum</i></p>
<p>Phys. Rev. B <b>86</b>, 064419 (2012)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.86.064419">10.1103/PhysRevB.86.064419</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1208.3873">arXiv:1208.3873 [cond-mat.str-el]</a></p>
</li>
<li>
<p>E. Morenzoni, H. Saadaoui, D. Wang, M. Horisberger, E. C. Kirk, W. A. MacFarlane, G. D. Morris, K. H. Chow, M. D. Hossain, C. P. Levy, T. J. Parolin, M. R. Pearson, Q. Song, and R. F. Kiefl</p>
<p><i>Slow order-parameter fluctuations in superconducting Pb and Ag/Nb films observed using β-detected nuclear magnetic resonance</i></p>
<p>Phys. Rev. B <b>85</b>, 220501(R) (2012) <mark>Editors' Suggestion</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.85.220501">10.1103/PhysRevB.85.220501</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1109.4508">arXiv:1109.4508 [cond-mat.supr-con]</a></p>
</li>
<li>
<p>K. H. Chow, A. I. Mansour, I. Fan, R. F. Kiefl, G. D. Morris, Z. Salman, T. Dunlop, W. A. MacFarlane, H. Saadaoui, O. Mosendz, B. Kardasz, B. Heinrich, J. Jung, C. D. P. Levy, M. R. Pearson, T. J. Parolin, D. Wang, M. D. Hossain, Q. Song, and M. Smadella</p>
<p><i>Detection and decoherence of level-crossing resonances of <sup>8</sup>Li in Cu</i></p>
<p>Phys. Rev. B <b>85</b>, 092103 (2012)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.85.092103">10.1103/PhysRevB.85.092103</a></p>
</li>
<li>
<p>Q. Song, K. H. Chow, Z. Salman, H. Saadaoui, M. D. Hossain, R. F. Kiefl, G. D. Morris, C. D. P. Levy, M. R. Pearson, T. J. Parolin, I. Fan, T. A. Keeler, M. Smadella, D. Wang, K. M. Yu, X. Liu, J. K. Furdyna, and W. A. MacFarlane</p>
<p><i>β-detected NMR of Li in Ga<sub>1–x</sub>Mn<sub>x</sub>As</i></p>
<p>Phys. Rev. B <b>84</b>, 054414 (2011)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.84.054414">10.1103/PhysRevB.84.054414</a></p>
</li>
<li>
<p>Z. Salman, M. Smadella, W. A. MacFarlane, B. D. Patterson, P. R. Willmott, K. H. Chow, M. D. Hossain, H. Saadaoui, D. Wang, and R. F. Kiefl</p>
<p><i>Depth dependence of the structural phase transition of SrTiO<sub>3</sub> studied with β-NMR and grazing incidence x-ray diffraction</i></p>
<p>Phys. Rev. B <b>83</b>, 224112 (2011)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.83.224112">10.1103/PhysRevB.83.224112</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1105.1032">arXiv:1105.1032 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>A. Voss, M. R. Pearson, J. Billowes, F. Buchinger, K. H. Chow, J. E. Crawford, M. D. Hossein, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, E. Mané, G. D. Morris, T. J. Parolin, H. Saadaoui, Z. Salman, M. Smadella, Q. Song, and D. Wang</p>
<p><i>Nuclear electric quadrupole moment of <sup>9</sup>Li using zero-field β-detected NQR</i></p>
<p>J. Phys. G: Nucl. Part. Phys. <b>38</b>, 075102 (2011)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/0954-3899/38/7/075102">10.1088/0954-3899/38/7/075102</a></p>
</li>
<li>
<p>H. Saadaoui, G. D. Morris, Z. Salman, Q. Song, K. H. Chow, M. D. Hossain, C. D. P. Levy, T. J. Parolin, M. R. Pearson, M. Smadella, D. Wang, L. H. Greene, P. J. Hentges, R. F. Kiefl, and W. A. MacFarlane</p>
<p><i>Search for broken time-reversal symmetry near the surface of superconducting YBa<sub>2</sub>Cu<sub>3</sub>O<sub>7–δ</sub> films using β-detected nuclear magnetic resonance</i></p>
<p>Phys. Rev. B <b>83</b>, 054504 (2011)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.83.054504">10.1103/PhysRevB.83.054504</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1101.0930">arXiv:1101.0930 [cond-mat.supr-con]</a></p>
</li>
<li>
<p>K. Minamisono, K. Matsuta, T. Minamisono, C. D. P. Levy, T. Nagatomo, M. Ogura, T. Sumikama, J. A. Behr, K. P. Jackson, M. Mihara, and M. Fukuda</p>
<p><i>Nuclear polarization of short-lived Na isotopes maintained in single crystals for β-NMR spectroscopy</i></p>
<p>Nucl. Instrum. Methods Phys. Res., Sect. A <b>616</b>, 45 (2010)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.nima.2010.02.101">10.1016/j.nima.2010.02.101</a></p>
</li>
<li>
<p>H. Saadaoui, W. A. MacFarlane, Z. Salman, G. D. Morris, Q. Song, K. H. Chow, M. D. Hossain, C. D. P. Levy, A. I. Mansour, T. J. Parolin, M. R. Pearson, M. Smadella, D. Wang, and R. F. Kiefl</p>
<p><i>Vortex lattice disorder in YBa<sub>2</sub>Cu<sub>3</sub>O<sub>7–δ</sub> probed using β-NMR</i></p>
<p>Phys. Rev. B <b>80</b>, 224503 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.80.224503">10.1103/PhysRevB.80.224503</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1003.1166">arXiv:1003.1166 [cond-mat.supr-con]</a></p>
</li>
<li>
<p>T. J. Parolin, J. Shi, Z. Salman, K. H. Chow, P. Dosanjh, H. Saadaoui, Q. Song, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, M. R. Pearson, and W. A. MacFarlane</p>
<p><i>Nuclear magnetic resonance study of Li implanted in a thin film of niobium</i></p>
<p>Phys. Rev. B <b>80</b>, 174109 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.80.174109">10.1103/PhysRevB.80.174109</a></p>
</li>
<li>
<p>M. D. Hossain, Z. Salman, D. Wang, K. H. Chow, S. Kreitzman, T. A. Keeler, C. D. P. Levy, W. A. MacFarlane, R. I. Miller, G. D. Morris, T. J. Parolin, M. Pearson, H. Saadaoui, and R. F. Kiefl</p>
<p><i>Low-field cross spin relaxation of <sup>8</sup>Li in superconducting NbSe<sub>2</sub></i></p>
<p>Phys. Rev. B <b>79</b>, 144518 (2009) <mark>Editors' Suggestion</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.79.144518">10.1103/PhysRevB.79.144518</a></p>
</li>
<li>
<p>T. J. Parolin, Z. Salman, K. H. Chow, Q. Song, J. Valiani, H. Saadaoui, A. O’Halloran, M. D. Hossain, T. A. Keeler, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, G. D. Morris, M. R. Pearson, M. Smadella, D. Wang, M. Xu, and W. A. MacFarlane</p>
<p><i>High resolution β-NMR study of <sup>8</sup>Li<sup>+</sup> implanted in gold</i></p>
<p>Phys. Rev. B <b>77</b>, 214107 (2008)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.77.214107">10.1103/PhysRevB.77.214107</a></p>
</li>
<li>
<p>T. A. Keeler, Z. Salman, K. H. Chow, B. Heinrich, M. D. Hossian, B. Kardasz, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, W. A. MacFarlane, O. Mosendz, T. J. Parolin, M. R. Pearson, and D. Wang</p>
<p><i>Hyperfine fields in an Ag/Fe multilayer film investigated with <sup>8</sup>Li β-detected NMR</i></p>
<p>Phys. Rev. B <b>77</b>, 144429 (2008)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.77.144429">10.1103/PhysRevB.77.144429</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/0803.3874">arXiv:0803.3874 [cond-mat.str-el]</a></p>
</li>
<li>
<p>M. Xu, M. D. Hossain, H. Saadaoui, T. J. Parolin, K. H. Chow, T. A. Keeler, R. F. Kiefl, G. D. Morris, Z. Salman, Q. Song, D. Wang, and W. A. MacFarlane</p>
<p><i>Proximal magnetometry in thin films using βNMR</i></p>
<p>J. Magn. Reson. <b>191</b>, 47 (2008)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.jmr.2007.11.022">10.1016/j.jmr.2007.11.022</a></p>
</li>
<li>
<p>Z. Salman, K. H. Chow, R. I. Miller, A. Morello, T. J. Parolin, M. D. Hossain, T. A. Keeler, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, H. Saadaoui, D. Wang, R. Sessoli, G. G. Condorelli, and R. F. Kiefl</p>
<p><i>Local magnetic properties of a monolayer of Mn<sub>12</sub> single molecule magnets</i></p>
<p>Nano Lett. <b>7</b>, 1551 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/nl070366a">10.1021/nl070366a</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/0804.4794">arXiv:0804.4794 [cond-mat.mes-hall]</a></p>
</li>
<li>
<p>Z. Salman, D. Wang, K. H. Chow, M. D. Hossain, S. R. Kreitzman, T. A. Keeler, C. D. P. Levy, W. A. MacFarlane, R. I. Miller, G. D. Morris, T. J. Parolin, H. Saadaoui, M. Smadella, and R. F. Kiefl</p>
<p><i>Magnetic-field effects on the size of vortices below the surface of NbSe<sub>2</sub> detected using low energy β-NMR</i></p>
<p>Phys. Rev. Lett. <b>98</b>, 167001 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.98.167001">10.1103/PhysRevLett.98.167001</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0703174">arXiv:cond-mat/0703174 [cond-mat.str-el]</a></p>
</li>
<li>
<p>Z. Salman, A. I. Mansour, K. H. Chow, M. Beaudoin, I. Fan, J. Jung, T. A. Keeler, R. F. Kiefl, C. D. P. Levy, R. C. Ma, G. D. Morris, T. J. Parolin, D. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR of isolated <sup>8</sup>Li<sup>+</sup> implanted into a thin copper film</i></p>
<p>Phys. Rev. B <b>75</b>, 073405 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.75.073405">10.1103/PhysRevB.75.073405</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0701002">arXiv:cond-mat/0701002 [cond-mat.str-el]</a></p>
</li>
<li>
<p>T. J. Parolin, Z. Salman, J. Chakhalian, Q. Song, K. H. Chow, M. D. Hossain, T. A. Keeler, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, G. D. Morris, M. R. Pearson, H. Saadaoui, D. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR of isolated lithium in nearly ferromagnetic palladium</i></p>
<p>Phys. Rev. Lett. <b>98</b>, 047601 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.98.047601">10.1103/PhysRevLett.98.047601</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0701394">arXiv:cond-mat/0701394 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>R. F. Kiefl, K. H. Chow, W. A. MacFarlane, G. D. Morris, C. D. P. Levy, and Z. Salman</p>
<p><i>Application of low energy spin polarized radioactive ion beams in condensed matter research</i></p>
<p>Nucl. Phys. News <b>15</b>, 26 (2005)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1080/10506890500454592">10.1080/10506890500454592</a></p>
</li>
<li>
<p>Z. Salman, R. F. Kiefl, K. H. Chow, M. D. Hossain, T. A. Keeler, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, T. J. Parolin, M. R. Pearson, H. Saadaoui, J. D. Schultz, M. Smadella, D. Wang, and W. A. MacFarlane</p>
<p><i>Near-surface structural phase transition of SrTiO<sub>3</sub> studied with zero-field β-detected nuclear spin relaxation and resonance</i></p>
<p>Phys. Rev. Lett. <b>96</b>, 147601 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.96.147601">10.1103/PhysRevLett.96.147601</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0511526">arXiv:cond-mat/0511526 [cond-mat.stat-mech]</a></p>
</li>
<li>
<p>G. D. Morris, W. A. MacFarlane, K. H. Chow, Z. Salman, D. J. Arseneau, S. Daviel, A. Hatakeyama, S. R. Kreitzman, C. D. P. Levy, R. Poutissou, R. H. Heffner, J. E. Elenewski, L. H. Greene, and R. F. Kiefl</p>
<p><i>Depth-controlled β-NMR of <sup>8</sup>Li in a thin silver film</i></p>
<p>Phys. Rev. Lett. <b>93</b>, 157601 (2004)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.93.157601">10.1103/PhysRevLett.93.157601</a></p>
</li>
<li>
<p>Z. Salman, E. P. Reynard, W. A. MacFarlane, K. H. Chow, J. Chakhalian, S. R. Kreitzman, S. Daviel, C. D. P. Levy, R. Poutissou, and R. F. Kiefl</p>
<p><i>β-detected nuclear quadrupole resonance with a low-energy beam of <sup>8</sup>Li<sup>+</sup></i></p>
<p>Phys. Rev. B <b>70</b>, 104404 (2004)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.70.104404">10.1103/PhysRevB.70.104404</a></p>
</li>
</ol>
