<ol reversed id="publications">
<li>
<p>S. R. Kreitzman and G. D. Morris</p>
<p><i>TRIUMF MuSR and βNMR research facilities</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011056 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011056">10.7566/JPSCP.21.011056</a></p>
</li>
<li>
<p>H. Saadaoui</p>
<p><i>BnmrOffice: a free software for β-NMR data analysis</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011049 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011049">10.7566/JPSCP.21.011049</a></p>
</li>
<li>
<p>A. Chatzichristos, R. M. L. McFadden, V. L. Karner, D. L. Cortie, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, M. R. Pearson, Z. Salman, and R. F. Kiefl</p>
<p><i>Comparison of <sup>8</sup>Li and <sup>9</sup>Li spin relaxation in SrTiO<sub>3</sub> and Pt: a means to distinguish magnetic and electric quadrupolar sources of relaxation</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011048 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011048">10.7566/JPSCP.21.011048</a></p>
</li>
<li>
<p>R. M. L. McFadden, A. Chatzichristos, M. H. Dehn, D. Fujimoto, H. Funakubo, A. Gottberg, T. Hitosugi, V. L. Karner, R. F. Kiefl, M. Kurokawa, J. Lassen, C. D. P. Levy, R. Li, G. D. Morris, M. R. Pearson, S. Shiraki, M. Stachura, J. Sugiyama, D. M. Szunyogh, and W. A. MacFarlane</p>
<p><i>On the use of <sup>31</sup>Mg for β-detected NMR studies of solids</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011047 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011047">10.7566/JPSCP.21.011047</a></p>
</li>
<li>
<p>V. L. Karner, R. M. L. Mcfadden, M. H. Dehn, D. Fujimoto, A. Chatzichristos, G. D. Morris, M. R. Pearson, C. D. P. Levy, A. Reisner, L. H. Tjeng, R. F. Kiefl, and W. A. Macfarlane</p>
<p><i>Beta-detected NMR of LSAT and YSZ</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011024 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011024">10.7566/JPSCP.21.011024</a></p>
</li>
<li>
<p>V. L. Karner, R. M. L. Mcfadden, A. Chatzichristos, G. D. Morris, M. R. Pearson, C. D. P. Levy, Z. Salman, D. L. Cortie, R. F. Kiefl, and W. A. Macfarlane</p>
<p><i>Beta detected NMR of LaAlO<sub>3</sub></i></p>
<p>JPS Conf. Proc. <b>21</b>, 011023 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011023">10.7566/JPSCP.21.011023</a></p>
</li>
<li>
<p>V. L. Karner, T. Liu, I. Mckenzie, A. Chatzichristos, D. L. Cortie, G. D. Morris, R. F. Kiefl, R. M. L. Mcfadden, Z. Fakhraai, M. Stachura, and W. A. Macfarlane</p>
<p><i>Exploring the dynamics of glasses using beta detected NMR</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011022 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011022">10.7566/JPSCP.21.011022</a></p>
</li>
<li>
<p>J. Sugiyama, I. Umegaki, S. Shiraki, T. Hitosugi, R. M. L. McFadden, D. Wang, V. Karner, G. D. Morris, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Challenge for detecting the interface between electrode and electrolyte with β-NMR</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011021 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011021">10.7566/JPSCP.21.011021</a></p>
</li>
<li>
<p>W. A. MacFarlane, K. H. Chow, M. D. Hossain, V. L. Karner, R. F. Kiefl, R. M. L. McFadden, G. D. Morris, H. Saadaoui, and Z. Salman</p>
<p><i>The spin relaxation of <sup>8</sup>Li<sup>+</sup> in gold at low magnetic field</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011020 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011020">10.7566/JPSCP.21.011020</a></p>
</li>
<li>
<p>R. F. Kiefl</p>
<p><i>Developments in μSR and β NMR: beyond a muon lifetime</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011001 (2018) <i class="ai ai-open-access" style="color:orangered"></i> <mark>Yamazaki Prize</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011001">10.7566/JPSCP.21.011001</a></p>
</li>
<li>
<p>M. Stachura, R. M. L. McFadden, A. Chatzichristos, M. H. Dehn, A. Gottberg, L. Hemmingsen, A. Jancso, V. L. Karner, R. F. Kiefl, F. H. Larsen, J. Lassen, C. D. P. Levy, R. Li, W. A. MacFarlane, G. D. Morris, S. Pallada, M. R. Pearson, D. Szunyogh, P. W. Thulstrup, and A. Voss</p>
<p><i>Towards <sup>31</sup>Mg-β-NMR resonance linewidths adequate for applications in magnesium chemistry</i></p>
<p>Hyperfine Interact. <b>238</b>, 32 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-017-1408-8">10.1007/s10751-017-1408-8</a></p>
</li>
<li>
<p>C. D. P. Levy, M. R. Pearson, M. H. Dehn, V. L. Karner, R. F. Kiefl, J. Lassen, R. Li, W. A. MacFarlane, R. M. L. McFadden, G. D. Morris, M. Stachura, A. Teigelhöfer, and A. Voss</p>
<p><i>Development of a polarized <sup>31</sup>Mg<sup>+</sup> beam as a spin-1/2 probe for BNMR</i></p>
<p>Hyperfine Interact. <b>237</b>, 162 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-016-1372-8">10.1007/s10751-016-1372-8</a></p>
</li>
<li>
<p>W. A. MacFarlane, C. D. P. Levy, M. R. Pearson, T. Buck, K. H. Chow, A. N. Hariwal, R. F. Kiefl, F. H. McGee, G. D. Morris, and D. Wang</p>
<p><i>The initial state of optically polarized <sup>8</sup>Li<sup>+</sup> from the β-NMR in bismuth</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012059 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012059">10.1088/1742-6596/551/1/012059</a></p>
</li>
<li>
<p>F. H. McGee, I. McKenzie, T. Buck, C. R. Daley, J. A. Forrest, M. Harada, R. F. Kiefl, C. D. P. Levy, G. D. Morris, M. R. Pearson, J. Sugiyama, D. Wang, and W. A. MacFarlane</p>
<p><i>A brief survey of β-detected NMR of implanted <sup>8</sup>Li<sup>+</sup> in organic polymers</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012039 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012039">10.1088/1742-6596/551/1/012039</a></p>
</li>
<li>
<p>Z. Salman, K. H. Chow, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, T. J. Parolin, M. R. Pearson, H. Saadaoui, D. Wang, and W. A. MacFarlane</p>
<p><i>β-detected nuclear quadrupole resonance and relaxation of <sup>8</sup>Li<sup>+</sup> in sapphire</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012034 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012034">10.1088/1742-6596/551/1/012034</a></p>
</li>
<li>
<p>W. A. MacFarlane, T. J. Parolin, D. L. Cortie, K. H. Chow, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, R. M. L. McFadden, G. D. Morris, M. R. Pearson, H. Saadaoui, Z. Salman, Q. Song, and D. Wang</p>
<p><i><sup>8</sup>Li<sup>+</sup> β-NMR in the cubic insulator MgO</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012033 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012033">10.1088/1742-6596/551/1/012033</a></p>
</li>
<li>
<p>R. M. L. McFadden, D. L. Cortie, D. J. Arseneau, T. J. Buck, C.-C. Chen, M. H. Dehn, S. R. Dunsiger, R. F. Kiefl, C. D. P. Levy, C. Li, G. D. Morris, M. R. Pearson, D. Samuelis, J. Xiao, J. Maier, and W. A. MacFarlane</p>
<p><i>β-NMR of <sup>8</sup>Li<sup>+</sup> in rutile TiO<sub>2</sub></i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012032 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012032">10.1088/1742-6596/551/1/012032</a></p>
</li>
<li>
<p>D. Cortie, T. Buck, R. M. L. McFadden, J. Xiao, C. D. P. Levy, M. Dehn, M. Pearson, G. D. Morris, S. R. Dunsiger, R. F. Kiefl, F. J. Rueß, A. Fuhrer, and W. A. MacFarlane</p>
<p><i>β-NMR study of a buried Mn δ-doped layer in a silicon host</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012023 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012023">10.1088/1742-6596/551/1/012023</a></p>
</li>
<li>
<p>D. Wang, K. H. Chow, M. Smadella, M. D. Hossain, W. A. MacFarlane, G. D. Morris, O. Ofer, E. Morenzoni, Z. Salman, H. Saadaoui, Q. Song, and R. F. Kiefl</p>
<p><i>Use of the strong collision model to calculate spin relaxation</i></p>
<p>Phys. Proc. <b>30</b>, 38 (2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.phpro.2012.04.035">10.1016/j.phpro.2012.04.035</a></p>
</li>
<li>
<p>O. Ofer, K. H. Chow, I. Fan, M. Egilmez, T. J. Parolin, M. D. Hossain, J. Jung, Z. Salman, R. F. Kiefl, C. D. P. Levy, G. D. Morris, M. R. Pearson, H. Saadaoui, Q. Song, D. Wang, and W. A. MacFarlane</p>
<p><i><sup>8</sup>Li<sup>+</sup> Knight shift and resonance in the enhanced paramagnet platinum studied by βNMR</i></p>
<p>Phys. Proc. <b>30</b>, 356 (2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.phpro.2012.04.062">10.1016/j.phpro.2012.04.062</a></p>
</li>
<li>
<p>Q. Song, K. H. Chow, M. D. Hossain, R. F. Kieﬂ, G. D. Morris, C. D. P. Levy, H. Saadaoui, M. Smadella, D. Wang, B. Kardasz, B. Heinrich, and W. A. MacFarlane</p>
<p><i>β-detected NMR study of semi-insulating GaAs</i></p>
<p>Phys. Proc. <b>30</b>, 227 (2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.phpro.2012.04.079">10.1016/j.phpro.2012.04.079</a></p>
</li>
<li>
<p>Q. Song, K. H. Chow, R. I. Miller, I. Fan, M. D. Hossain, R. F. Kiefl, G. D. Morris, S. R. Kreitzman, C. D. P. Levy, T. J. Parolin, M. R. Pearson, Z. Salman, H. Saadaoui, M. Smadella, D. Wang, K. M. Yu, X. Liu, J. K. Furdyna, and W. A. MacFarlane</p>
<p><i>β-Detected NMR search for magnetic phase separation in epitaxial GaAs:Mn</i></p>
<p>Phys. Proc. <b>30</b>, 174 (2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.phpro.2012.04.066">10.1016/j.phpro.2012.04.066</a></p>
</li>
<li>
<p>K. H. Chow, A. I. Mansour, I. Fan, G. D. Morris, Z. Salman, T. Dunlop, W. A. MacFarlane, R. F. Kiefl, H. Saadaoui, O. Mosendz, B. Kardasz, B. Heinrich, J. Jung, C. D. P. Levy, M. R. Pearson, T. J. Parolin, D. Wang, M. D. Hossain, Q. Song, and M. Smadella</p>
<p><i>Observing cross-relaxation with depth-resolved <sup>8</sup>Li β-NMR</i></p>
<p>Phys. Proc. <b>30</b>, 16 (2012) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.phpro.2012.04.030">10.1016/j.phpro.2012.04.030</a></p>
</li>
<li>
<p>A. Voss, M. R. Pearson, J. Billowes, F. Buchinger, K. H. Chow, J. E. Crawford, M. D. Hossein, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, E. Mané, G. D. Morris, T. J. Parolin, H. Saadaoui, Z. Salman, M. Smadella, Q. Song, and D. Wang</p>
<p><i>The development of pure β-NQR techniques for measurements of nuclear ground state quadrupole moments in lithium isotopes</i></p>
<p>J. Phys.: Conf. Ser. <b>312</b>, 092063 (2011) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/312/9/092063">10.1088/1742-6596/312/9/092063</a></p>
</li>
<li>
<p>C. D. P. Levy, M. R. Pearson, G. D. Morris, K. H. Chow, M. D. Hossain, R. F. Kiefl, R. Labbé, J. Lassen, W. A. MacFarlane, T. J. Parolin, H. Saadaoui, M. Smadella, Q. Song, and D. Wang</p>
<p><i>Development of the collinear laser beam line at TRIUMF</i></p>
<p>Hyperfine Interact. <b>196</b>, 287 (2010)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-009-0148-9">10.1007/s10751-009-0148-9</a></p>
</li>
<li>
<p>M. Smadella, Z. Salman, K. H. Chow, M. Egilmez, I. Fan, M. D. Hossain, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, W. A. MacFarlane, A. I. Mansour, G. D. Morris, T. J. Parolin, M. Pearson, H. Saadaoui, Q. Song, and D. Wang</p>
<p><i>Surface dependent structural phase transition in SrTiO<sub>3</sub> observed with spin relaxation of <sup>8</sup>Li</i></p>
<p>Physica B <b>404</b>, 924 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.135">10.1016/j.physb.2008.11.135</a></p>
</li>
<li>
<p>D. Wang, Z. Salman, K. H. Chow, I. Fan, M. D. Hossain, T. A. Keeler, R. F. Kiefl, C. D. P. Levy, A. I. Mansour, G. D. Morris, M. R. Pearson, T. J. Parolin, H. Saadaoui, M. Smadella, Q. Song, and W. A. MacFarlane</p>
<p><i>Nuclear spin relaxation/resonance of <sup>8</sup>Li in Al</i></p>
<p>Physica B <b>404</b>, 920 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.136">10.1016/j.physb.2008.11.136</a></p>
</li>
<li>
<p>T. J. Parolin, Z. Salman, J. Chakhalian, Q. Song, K. H. Chow, G. D. Morris, M. Egilmez, I. Fan, M. D. Hossain, T. A. Keeler, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, A. I. Mansour, R. I. Miller, M. R. Pearson, H. Saadaoui, M. Smadella, D. Wang, M. Xu, and W. A. MacFarlane</p>
<p><i>Hyperfine fields in thin Pd films by beta-detected NMR</i></p>
<p>Physica B <b>404</b>, 917 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.137">10.1016/j.physb.2008.11.137</a></p>
</li>
<li>
<p>M. D. Hossain, H. Saadaoui, T. J. Parolin, Q. Song, D. Wang, M. Smadella, K. H. Chow, M. Egilmez, I. Fan, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, G. D. Morris, M. R. Pearson, Z. Salman, and W. A. MacFarlane</p>
<p><i>The spin lattice relaxation of <sup>8</sup>Li in simple metals</i></p>
<p>Physica B <b>404</b>, 914 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.157">10.1016/j.physb.2008.11.157</a></p>
</li>
<li>
<p>A. I. Mansour, G. D. Morris, Z. Salman, K. H. Chow, T. Dunlop, J. Jung, I. Fan, W. A. MacFarlane, R. F. Kiefl, T. J. Parolin, H. Saadaoui, D. Wang, M. D. Hossain, Q. Song, M. Smadella, O. Mosendz, B. Kardasz, B. Heinrich, C. D. P. Levy, and M. R. Pearson</p>
<p><i>Cross-relaxation of <sup>8</sup>Li<sup>+</sup> in copper</i></p>
<p>Physica B <b>404</b>, 910 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.138">10.1016/j.physb.2008.11.138</a></p>
</li>
<li>
<p>I. Fan, K. Chow, T. Parolin, M. Egilmez, M. Hossain, J. Jung, T. Keeler, R. Kiefl, S. Kreitzman, C. Levy, R. Ma, G. Morris, M. Pearson, H. Saadaoui, Z. Salman, M. Smadella, Q. Song, D. Wang, M. Xu, and W. MacFarlane</p>
<p><i>β-NMR of a thin Pt film</i></p>
<p>Physica B <b>404</b>, 906 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.139">10.1016/j.physb.2008.11.139</a></p>
</li>
<li>
<p>Q. Song, K. Chow, R. Miller, I. Fan, M. Hossain, R. Kiefl, S. Kreitzman, C. Levy, T. Parolin, M. Pearson, Z. Salman, H. Saadaoui, M. Smadella, D. Wang, K. Yu, X. Liu, J. Furdyna, and W. MacFarlane</p>
<p><i>Beta-detected NMR study of the local magnetic field in epitaxial GaAs:Mn</i></p>
<p>Physica B <b>404</b>, 892 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.143">10.1016/j.physb.2008.11.143</a></p>
</li>
<li>
<p>H. Saadaoui, W. A. MacFarlane, G. D. Morris, Z. Salman, K. H. Chow, I. Fan, M. D. Hossain, R. Liang, A. I. Mansour, T. J. Parolin, M. Smadella, Q. Song, D. Wang, and R. F. Kiefl</p>
<p><i>Vortex lattice disorder in YBa<sub>2</sub>Cu<sub>3</sub>O<sub>7–δ</sub> studied with β-NMR</i></p>
<p>Physica B <b>404</b>, 730 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.229">10.1016/j.physb.2008.11.229</a></p>
</li>
<li>
<p>H. Saadaoui, W. A. MacFarlane, Z. Salman, G. D. Morris, K. H. Chow, I. Fan, P. Fournier, M. D. Hossain, T. A. Keeler, S. R. Kreitzman, C. D. P. Levy, A. I. Mansour, R. I. Miller, T. J. Parolin, M. R. Pearson, Q. Song, D. Wang, and R. F. Kiefl</p>
<p><i>β-NMR investigation of the vortex lattice near the interface of silver and Pr<sub>1.85</sub>Ce<sub>0.15</sub>CuO<sub>4–δ</sub> thin films</i></p>
<p>Physica B <b>404</b>, 727 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.187">10.1016/j.physb.2008.11.187</a></p>
</li>
<li>
<p>H. Saadaoui, G. D. Morris, K. H. Chow, M. D. Hossain, C. D. P. Levy, T. J. Parolin, M. R. Pearson, Z. Salman, M. Smadella, Q. Song, D. Wang, P. J. Hentges, L. H. Greene, R. F. Kiefl, and W. A. MacFarlane</p>
<p><i>Search for time-reversal symmetry breaking order at the (110) interface of YBa<sub>2</sub>Cu<sub>3</sub>O<sub>7–δ</sub> using βNMR</i></p>
<p>Physica B <b>404</b>, 724 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.188">10.1016/j.physb.2008.11.188</a></p>
</li>
<li>
<p>Q. Song, K. H. Chow, M. Egilmez, I. Fan, M. D. Hossain, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, G. D. Morris, T. J. Parolin, M. R. Pearson, Z. Salman, H. Saadaoui, M. Smadella, D. Wang, N. J. C. Ingle, and W. A. MacFarlane</p>
<p><i>Spin lattice relaxation of <sup>8</sup>Li in a ferromagnetic EuO epitaxial thin film</i></p>
<p>Physica B <b>404</b>, 619 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.110">10.1016/j.physb.2008.11.110</a></p>
</li>
<li>
<p>C. D. P. Levy, M. R. Pearson, G. D. Morris, J. Lassen, K. H. Chow, M. D. Hossain, R. F. Kiefl, R. Labbé, W. A. MacFarlane, T. J. Parolin, L. Root, H. Saadaoui, M. Smadella, and D. Wang</p>
<p><i>Polarisation of a spin-1⁄2 β-NMR probe <sup>11</sup>Be using collinear laser optical pumping</i></p>
<p>Physica B <b>404</b>, 1010 (2009)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2008.11.205">10.1016/j.physb.2008.11.205</a></p>
</li>
<li>
<p>A. I. Mansour, G. D. Morris, Z. Salman, K. H. Chow, T. Dunlop, J. Jung, I. Fan, W. A. MacFarlane, R. F. Kiefl, T. J. Parolin, H. Saadaoui, D. Wang, M. D. Hossain, Q. Song, M. Smadella, O. Mosendz, B. Kardasz, and B. Heinrich</p>
<p><i>Development of the <sup>8</sup>Li cross-relaxation technique: applications in semiconductors and other condensed matter systems</i></p>
<p>Physica B <b>401–402</b>, 662 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2007.09.046">10.1016/j.physb.2007.09.046</a></p>
</li>
<li>
<p>T. Dunlop, A. I. Mansour, Z. Salman, K. H. Chow, I. Fan, J. Jung, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, W. A. MacFarlane, G. Morris, and T. J. Parolin</p>
<p><i><sup>8</sup>Li in GaAs studied with β-NMR</i></p>
<p>Physica B <b>401–402</b>, 254 (2007)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2007.08.160">10.1016/j.physb.2007.08.160</a></p>
</li>
<li>
<p>K. H. Chow, Z. Salman, W. A. MacFarlane, B. Campbell, T. A. Keeler, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, G. D. Morris, T. J. Parolin, S. Daviel, and Z. Yamani</p>
<p><i>Early <sup>8</sup>Li<sup>+</sup> β-NMR investigations in GaAs and Ge</i></p>
<p>Physica B <b>374–375</b>, 415 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.120">10.1016/j.physb.2005.11.120</a></p>
</li>
<li>
<p>Z. Salman, R. F. Kiefl, K. H. Chow, W. A. MacFarlane, S. R. Kreitzman, D. J. Arseneau, S. Daviel, C. D. P. Levy, Y. Maeno, and R. Poutissou</p>
<p><i>Beta-detected NQR in zero field with a low energy beam of <sup>8</sup>Li<sup>+</sup></i></p>
<p>Physica B <b>374–375</b>, 468 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.168">10.1016/j.physb.2005.11.168</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0511356">arXiv:cond-mat/0511356 [cond-mat.str-el]</a></p>
</li>
<li>
<p>D. Wang, M. D. Hossain, Z. Salman, D. Arseneau, K. H. Chow, S. Daviel, T. A. Keeler, R. F. Kiefl, S. R. Kreitzman, C. D. P. Levy, G. D. Morris, R. I. Miller, W. A. MacFarlane, T. J. Parolin, and H. Saadaoui</p>
<p><i>β-detected NMR of <sup>8</sup>Li in the normal state of 2H-NbSe<sub>2</sub></i></p>
<p>Physica B <b>374–375</b>, 239 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.064">10.1016/j.physb.2005.11.064</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/cond-mat/0511357">arXiv:cond-mat/0511357 [cond-mat.str-el]</a></p>
</li>
<li>
<p>T. A. Keeler, Z. Salman, K. H. Chow, B. Heinrich, M. D. Hossain, B. Kardasz, R. F. Kiefl, S. R. Kreitzman, W. A. MacFarlane, O. Mosendz, T. J. Parolin, and D. Wang</p>
<p><i>Hyperfine fields in a Ag/Fe magnetic multilayer probed with low energy spin polarized <sup>8</sup>Li</i></p>
<p>Physica B <b>374–375</b>, 79 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.020">10.1016/j.physb.2005.11.020</a></p>
</li>
<li>
<p>T. J. Parolin, Z. Salman, J. Chakhalian, D. Wang, T. A. Keeler, M. D. Hossain, R. F. Kiefl, K. H. Chow, G. D. Morris, R. I. Miller, and W. A. MacFarlane</p>
<p><i>β-NMR of palladium foil</i></p>
<p>Physica B <b>374–375</b>, 419 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.121">10.1016/j.physb.2005.11.121</a></p>
</li>
<li>
<p>R. I. Miller, D. Arseneau, K. H. Chow, S. Daviel, A. Engelbertz, M. D. Hossain, T. Keeler, R. F. Kiefl, S. Kreitzman, C. D. P. Levy, P. Morales, G. D. Morris, W. A. MacFarlane, T. J. Parolin, R. Poutissou, H. Saadaoui, Z. Salman, D. Wang, and J. Y. T. Wei</p>
<p><i>Nuclear spin relaxation of <sup>8</sup>Li in a thin film of La<sub>0.67</sub>Ca<sub>0.33</sub>MnO<sub>3</sub></i></p>
<p>Physica B <b>374–375</b>, 30 (2006)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2005.11.009">10.1016/j.physb.2005.11.009</a></p>
</li>
<li>
<p>K. H. Chow, Z. Salman, R. F. Kiefl, W. A. MacFarlane, C. D. P. Levy, P. Amaudruz, R. Baartman, J. Chakhalian, S. Daviel, Y. Hirayama, A. Hatakeyama, D. J. Arseneau, B. Hitti, S. R. Kreitzman, G. D. Morris, R. Poutissou, and E. Reynard</p>
<p><i>The new β-NMR facility at TRIUMF and applications in semiconductors</i></p>
<p>Physica B <b>340–342</b>, 1151 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/j.physb.2003.09.101">10.1016/j.physb.2003.09.101</a></p>
</li>
<li>
<p>C. D. P. Levy, A. Hatakeyama, Y. Hirayama, R. F. Kiefl, R. Baartman, J. A. Behr, H. Izumi, D. Melconian, G. D. Morris, R. Nussbaumer, M. Olivo, M. Pearson, R. Poutissou, and G. W. Wight</p>
<p><i>Polarized radioactive beam at ISAC</i></p>
<p>Nucl. Instrum. Methods Phys. Res., Sect. B <b>204</b>, 689 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0168-583X(03)00485-3">10.1016/S0168-583X(03)00485-3</a></p>
</li>
<li>
<p>R. F. Kiefl, W. A. MacFarlane, P. Amaudruz, D. Arseneau, R. Baartman, T. R. Beals, J. Behr, J. Brewer, S. Daviel, A. Hatakeyama, B. Hitti, S. R. Kreitzman, C. D. P. Levy, R. Miller, M. Olivo, R. Poutissou, G. D. Morris, S. R. Dunsiger, R. Heffner, K. H. Chow, Y. Hirayama, H. Izumi, C. Bommas, E. Dumont, and L. H. Greene</p>
<p><i>Low energy spin polarized radioactive beams as a probe of thin films and interfaces</i></p>
<p>Nucl. Instrum. Methods Phys. Res., Sect. B <b>204</b>, 682 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0168-583X(03)00479-8">10.1016/S0168-583X(03)00479-8</a></p>
</li>
<li>
<p>W. A. MacFarlane, G. D. Morris, T. R. Beals, K. H. Chow, R. A. Baartman, S. Daviel, S. R. Dunsiger, A. Hatakeyama, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, K. M. Nichol, R. Poutissou, and R. F. Kiefl</p>
<p><i><sup>8</sup>Li β-NMR in thin metal films</i></p>
<p>Physica B <b>326</b>, 213 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0921-4526(02)01604-6">10.1016/S0921-4526(02)01604-6</a></p>
</li>
<li>
<p>W. A. MacFarlane, G. D. Morris, K. H. Chow, R. A. Baartman, S. Daviel, S. R. Dunsiger, A. Hatakeyama, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, K. M. Nichol, R. Poutissou, E. Dumont, L. H. Greene, and R. F. Kiefl</p>
<p><i>Quadrupolar split <sup>8</sup>Li β-NMR in SrTiO<sub>3</sub></i></p>
<p>Physica B <b>326</b>, 209 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0921-4526(02)01603-4">10.1016/S0921-4526(02)01603-4</a></p>
</li>
<li>
<p>R. F. Kiefl, W. A. MacFarlane, G. D. Morris, P. Amaudruz, D. Arseneau, H. Azumi, R. Baartman, T. R. Beals, J. Behr, C. Bommas, J. H. Brewer, K. H. Chow, E. Dumont, S. R. Dunsiger, S. Daviel, L. Greene, A. Hatakeyama, R. H. Heffner, Y. Hirayama, B. Hitti, S. R. Kreitzman, C. D. P. Levy, R. I. Miller, M. Olivo, and R. Poutissou</p>
<p><i>Low-energy spin-polarized radioactive beams as a nano-scale probe of matter</i></p>
<p>Physica B <b>326</b>, 189 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0921-4526(02)01600-9">10.1016/S0921-4526(02)01600-9</a></p>
</li>
<li>
<p>T. R. Beals, R. F. Kiefl, W. A. MacFarlane, K. M. Nichol, G. D. Morris, C. D. P. Levy, S. R. Kreitzman, R. Poutissou, S. Daviel, R. A. Baartman, and K. H. Chow</p>
<p><i>Range straggling of low energy <sup>8</sup>Li<sup>+</sup> in thin metallic films using β-NMR</i></p>
<p>Physica B <b>326</b>, 205 (2003)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0921-4526(02)01602-2">10.1016/S0921-4526(02)01602-2</a></p>
</li>
<li>
<p>C. D. P. Levy, R. Baartman, K. Jayamanna, R. Kiefl, T. Kuo, M. Olivo, G. W. Wight, D. Yuan, and A. N. Zelenski</p>
<p><i>A polarized beams project at ISAC</i></p>
<p>Nucl. Phys. A <b>701</b>, 253 (2002)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0375-9474(01)01593-7">10.1016/S0375-9474(01)01593-7</a></p>
</li>
<li>
<p>R. F. Kiefl, G. D. Morris, P. Amaudruz, R. Baartman, J. Behr, J. H. Brewer, J. Chakhalian, S. Daviel, J. Doornbos, S. Dunsiger, S. R. Kreitzman, T. Kuo, C. D. P. Levy, R. Miller, M. Olivo, R. Poutissou, G. W. Wight, and A. Zelenski</p>
<p><i>Complementarity of low-energy spin polarized radioactive nuclei and muons</i></p>
<p>Physica B <b>289–290</b>, 640 (2000)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1016/S0921-4526(00)00301-X">10.1016/S0921-4526(00)00301-X</a></p>
</li>
</ol>
