<ol id="publications">
<li>
<p>A. Chatzichristos, <u>R. M. L. McFadden</u>, M. H. Dehn, S. R. Dunsiger, D. Fujimoto, V. L. Karner, I. McKenzie, G. D. Morris, M. R. Pearson, M. Stachura, J. Sugiyama, J. O. Ticknor, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Bi-Arrhenius diffusion and surface trapping of <sup>8</sup>Li<sup>+</sup> in rutile TiO<sub>2</sub></i></p>
<p>Phys. Rev. Lett. <b>123</b>, 095901 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.123.095901">10.1103/PhysRevLett.123.095901</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.12537">arXiv:1810.12537 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, A. Chatzichristos, K. H. Chow, D. L. Cortie, M. H. Dehn, D. Fujimoto, M. D. Hossain, H. Ji, V. L. Karner, R. F. Kiefl, C. D. P. Levy, R. Li, I. McKenzie, G. D. Morris, O. Ofer, M. R. Pearson, M. Stachura, R. J. Cava, and W. A. MacFarlane</p>
<p><i>Ionic and electronic properties of the topological insulator Bi<sub>2</sub>Te<sub>2</sub>Se investigated via β-detected nuclear magnetic relaxation and resonance of <sup>8</sup>Li</i></p>
<p>Phys. Rev. B <b>99</b>, 125201 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.99.125201">10.1103/PhysRevB.99.125201</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.07879">arXiv:1810.07879 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, A. Chatzichristos, M. H. Dehn, D. Fujimoto, H. Funakubo, A. Gottberg, T. Hitosugi, V. L. Karner, R. F. Kiefl, M. Kurokawa, J. Lassen, C. D. P. Levy, R. Li, G. D. Morris, M. R. Pearson, S. Shiraki, M. Stachura, J. Sugiyama, D. M. Szunyogh, and W. A. MacFarlane</p>
<p><i>On the use of <sup>31</sup>Mg for β-detected NMR studies of solids</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011047 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011047">10.7566/JPSCP.21.011047</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, T. J. Buck, A. Chatzichristos, C.-C. Chen, K. H. Chow, D. L. Cortie, M. H. Dehn, V. L. Karner, D. Koumoulis, C. D. P. Levy, C. Li, I. McKenzie, R. Merkle, G. D. Morris, M. R. Pearson, Z. Salman, D. Samuelis, M. Stachura, J. Xiao, J. Maier, R. F. Kiefl, and W. A. MacFarlane</p>
<p><i>Microscopic dynamics of Li<sup>+</sup> in rutile TiO<sub>2</sub> revealed by <sup>8</sup>Li β-detected nuclear magnetic resonance</i></p>
<p>Chem. Mater. <b>29</b>, 10187 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/acs.chemmater.7b04093">10.1021/acs.chemmater.7b04093</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1709.06674">arXiv:1709.06674 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>D. L. Cortie, T. Buck, M. H. Dehn, V. L. Karner, R. F. Kiefl, C. D. P. Levy, <u>R. M. L. McFadden</u>, G. D. Morris, I. McKenzie, M. R. Pearson, X. L. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR investigation of the depth-dependent magnetic properties of an antiferromagnetic surface</i></p>
<p>Phys. Rev. Lett. <b>116</b>, 106103 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.116.106103">10.1103/PhysRevLett.116.106103</a></p>
</li>
<li>
<p>P. J. Cormier, R. M. Clarke, <u>R. M. L. McFadden</u>, and K. Ghandi</p>
<p><i>Selective free radical reactions using supercritical carbon dioxide</i></p>
<p>J. Am. Chem. Soc. <b>136</b>, 2200 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/ja408438s">10.1021/ja408438s</a></p>
</li>
</ol>
