<ol reversed id="publications">
<li>
<p>J. O. Ticknor, I. Umegaki, <u>R. M. L. McFadden</u>, A. Chatzichristos, D. Fujimoto, V. L. Karner, R. F. Kiefl, S. Kobayashi, C. D. P. Levy, R. Li, G. D. Morris, M. R. Pearson, K. Yoshimura, J. Sugiyama, and W. A. MacFarlane</p>
<p><i>Investigation of ionic and anomalous magnetic behavior in CrSe<sub>2</sub> using <sup>8</sup>Li β-NMR</i></p>
<p>RSC Adv. <b>10</b>, 8190 (2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C9RA07065F">10.1039/C9RA07065F</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1908.05421">arXiv:1908.05421 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>M. H. Dehn, J. K. Shenton, S. Holenstein, Q. N. Meier, D. J. Arseneau, D. L. Cortie, B. Hitti, A. C. Y. Fang, W. A. MacFarlane, <u>R. M. L. McFadden</u>, G. D. Morris, Z. Salman, H. Luetkens, N. A. Spaldin, M. Fechner, and R. F. Kiefl</p>
<p><i>Observation of a charge-neutral muon-polaron complex in antiferromagnetic Cr<sub>2</sub>O<sub>3</sub></i></p>
<p>Phys. Rev. X <b>10</b>, 011036 (2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevX.10.011036">10.1103/PhysRevX.10.011036</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1909.00416">arXiv:1909.00416 [cond-mat.soft]</a></p>
</li>
<li>
<p>D. Fujimoto, <u>R. M. L. McFadden</u>, M. H. Dehn, Y. Petel, A. Chatzichristos, L. Hemmingsen, V. L. Karner, R. F. Kiefl, C. D. P. Levy, I. McKenzie, C. A. Michal, G. D. Morris, M. R. Pearson, D. Szunyogh, J. O. Ticknor, M. Stachura, and W. A. MacFarlane</p>
<p><i>Dynamics of liquid 1-ethyl-3-methylimidazolium acetate measured with implanted-ion <sup>8</sup>Li β-NMR</i></p>
<p>Chem. Mater. <b>31</b>, 9346 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/acs.chemmater.9b02864">10.1021/acs.chemmater.9b02864</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1907.03684">arXiv:1907.03684 [cond-mat.soft]</a></p>
</li>
<li>
<p>V. L. Karner, A. Chatzichristos, D. L. Cortie, M. H. Dehn, O. Foyevtsov, K. Foyevtsova, D. Fujimoto, R. F. Kiefl, C. D. P. Levy, R. Li, <u>R. M. L. McFadden</u>, G. D. Morris, M. R. Pearson, M. Stachura, J. O. Ticknor, G. Cristiani, G. Logvenov, F. Wrobel, B. Keimer, J. Zhang, J. F. Mitchell, and W. A. MacFarlane</p>
<p><i>Local metallic and structural properties of the strongly correlated metal LaNiO<sub>3</sub> using <sup>8</sup>Li β-NMR</i></p>
<p>Phys. Rev. B <b>100</b>, 165109 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.100.165109">10.1103/PhysRevB.100.165109</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1906.07878">arXiv:1906.07878 [cond-mat.str-el]</a></p>
</li>
<li>
<p>A. Chatzichristos, <u>R. M. L. McFadden</u>, M. H. Dehn, S. R. Dunsiger, D. Fujimoto, V. L. Karner, I. McKenzie, G. D. Morris, M. R. Pearson, M. Stachura, J. Sugiyama, J. O. Ticknor, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Bi-Arrhenius diffusion and surface trapping of <sup>8</sup>Li<sup>+</sup> in rutile TiO<sub>2</sub></i></p>
<p>Phys. Rev. Lett. <b>123</b>, 095901 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.123.095901">10.1103/PhysRevLett.123.095901</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.12537">arXiv:1810.12537 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, A. Chatzichristos, K. H. Chow, D. L. Cortie, M. H. Dehn, D. Fujimoto, M. D. Hossain, H. Ji, V. L. Karner, R. F. Kiefl, C. D. P. Levy, R. Li, I. McKenzie, G. D. Morris, O. Ofer, M. R. Pearson, M. Stachura, R. J. Cava, and W. A. MacFarlane</p>
<p><i>Ionic and electronic properties of the topological insulator Bi<sub>2</sub>Te<sub>2</sub>Se investigated via β-detected nuclear magnetic relaxation and resonance of <sup>8</sup>Li</i></p>
<p>Phys. Rev. B <b>99</b>, 125201 (2019)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.99.125201">10.1103/PhysRevB.99.125201</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1810.07879">arXiv:1810.07879 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>D. Szunyogh, <u>R. M. L. McFadden</u>, V. L. Karner, A. Chatzichristos, T. Day Goodacre, M. H. Dehn, L. Formenti, D. Fujimoto, A. Gottberg, E. Kallenberg, I. Kálomista, R. F. Kiefl, F. H. Larsen, J. Lassen, C. D. P. Levy, R. Li, W. A. MacFarlane, I. McKenzie, G. D. Morris, S. Pallada, M. R. Pearson, S. P. A. Sauer, P. Schaffer, P. W. Thulstrup, L. Hemmingsen, and M. Stachura</p>
<p><i>Direct observation of Mg<sup>2+</sup> complexes in ionic liquid solutions by <sup>31</sup>Mg β-NMR spectroscopy</i></p>
<p>Dalton Trans. <b>47</b>, 14431 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C8DT02350F">10.1039/C8DT02350F</a></p>
</li>
<li>
<p>I. McKenzie, Y. Chai, D. L. Cortie, J. A. Forrest, D. Fujimoto, V. L. Karner, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, <u>R. M. L. McFadden</u>, G. D. Morris, M. R. Pearson, and S. Zhu</p>
<p><i>Direct measurements of the temperature, depth and processing dependence of phenyl ring dynamics in polystyrene thin films by β-detected NMR</i></p>
<p>Soft Matter <b>14</b>, 7324 (2018) <mark>Inside Front Cover</mark></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C8SM00812D">10.1039/C8SM00812D</a></p>
</li>
<li>
<p>M. H. Dehn, D. J. Arseneau, T. Buck, D. L. Cortie, D. G. Fleming, S. R. King, W. A. MacFarlane, A. M. McDonagh, <u>R. M. L. McFadden</u>, D. R. G. Mitchell, and R. F. Kiefl</p>
<p><i>Nature of magnetism in thiol-capped gold nanoparticles investigated with muon spin rotation</i></p>
<p>Appl. Phys. Lett. <b>112</b>, 053105 (2018)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1063/1.5017768">10.1063/1.5017768</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, T. J. Buck, A. Chatzichristos, C.-C. Chen, K. H. Chow, D. L. Cortie, M. H. Dehn, V. L. Karner, D. Koumoulis, C. D. P. Levy, C. Li, I. McKenzie, R. Merkle, G. D. Morris, M. R. Pearson, Z. Salman, D. Samuelis, M. Stachura, J. Xiao, J. Maier, R. F. Kiefl, and W. A. MacFarlane</p>
<p><i>Microscopic dynamics of Li<sup>+</sup> in rutile TiO<sub>2</sub> revealed by <sup>8</sup>Li β-detected nuclear magnetic resonance</i></p>
<p>Chem. Mater. <b>29</b>, 10187 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/acs.chemmater.7b04093">10.1021/acs.chemmater.7b04093</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1709.06674">arXiv:1709.06674 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>J. Sugiyama, I. Umegaki, T. Uyama, <u>R. M. L. McFadden</u>, S. Shiraki, T. Hitosugi, Z. Salman, H. Saadaoui, G. D. Morris, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Lithium diffusion in spinel Li<sub>4</sub>Ti<sub>5</sub>O<sub>12</sub> and LiTi<sub>2</sub>O<sub>4</sub> films detected with <sup>8</sup>Li β-NMR</i></p>
<p>Phys. Rev. B <b>96</b>, 094402 (2017) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.96.094402">10.1103/PhysRevB.96.094402</a></p>
</li>
<li>
<p>A. Chatzichristos, <u>R. M. L. McFadden</u>, V. L. Karner, D. L. Cortie, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, M. R. Pearson, Z. Salman, and R. F. Kiefl</p>
<p><i>Determination of the nature of fluctuations using <sup>8</sup>Li and <sup>9</sup>Li β-NMR and spin-lattice relaxation</i></p>
<p>Phys. Rev. B <b>96</b>, 014307 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.96.014307">10.1103/PhysRevB.96.014307</a> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1703.10156">arXiv:1703.10156 [cond-mat.mtrl-sci]</a></p>
</li>
<li>
<p>I. McKenzie, D. L. Cortie, M. Harada, R. F. Kiefl, C. D. P. Levy, W. A. MacFarlane, <u>R. M. L. McFadden</u>, G. D. Morris, S.-I. Ogata, M. R. Pearson, and J. Sugiyama</p>
<p><i>β-NMR measurements of molecular-scale lithium-ion dynamics in poly(ethylene oxide)-lithium-salt thin films</i></p>
<p>J. Chem. Phys. <b>146</b>, 244903 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1063/1.4989866">10.1063/1.4989866</a></p>
</li>
<li>
<p>M. H. Dehn, D. J. Arseneau, P. Böni, M. D. Bridges, T. Buck, D. L. Cortie, D. G. Fleming, J. A. Kelly, W. A. MacFarlane, M. J. MacLachlan, <u>R. M. L. McFadden</u>, G. D. Morris, P.-X. Wang, J. Xiao, V. M. Zamarion, and R. F. Kiefl</p>
<p><i>Chemisorption of muonium on gold nanoparticles: a sensitive new probe of surface magnetism and reactivity</i></p>
<p>J. Chem. Phys. <b>145</b>, 181102 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1063/1.4967460">10.1063/1.4967460</a></p>
</li>
<li>
<p>D. L. Cortie, T. Buck, M. H. Dehn, V. L. Karner, R. F. Kiefl, C. D. P. Levy, <u>R. M. L. McFadden</u>, G. D. Morris, I. McKenzie, M. R. Pearson, X. L. Wang, and W. A. MacFarlane</p>
<p><i>β-NMR investigation of the depth-dependent magnetic properties of an antiferromagnetic surface</i></p>
<p>Phys. Rev. Lett. <b>116</b>, 106103 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevLett.116.106103">10.1103/PhysRevLett.116.106103</a></p>
</li>
<li>
<p>D. L. Cortie, T. Buck, M. H. Dehn, R. F. Kiefl, C. D. P. Levy, <u>R. M. L. McFadden</u>, G. D. Morris, M. R. Pearson, Z. Salman, Y. Maeno, and W. A. MacFarlane</p>
<p><i>Spin fluctuations in the exotic metallic state of Sr<sub>2</sub>RuO<sub>4</sub> studied with β-NMR</i></p>
<p>Phys. Rev. B <b>91</b>, 241113(R) (2015)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1103/PhysRevB.91.241113">10.1103/PhysRevB.91.241113</a></p>
</li>
<li>
<p>P. J. Cormier, R. M. Clarke, <u>R. M. L. McFadden</u>, and K. Ghandi</p>
<p><i>Selective free radical reactions using supercritical carbon dioxide</i></p>
<p>J. Am. Chem. Soc. <b>136</b>, 2200 (2014)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1021/ja408438s">10.1021/ja408438s</a></p>
</li>
<li>
<p>K. Ghandi, <u>R. M. L. McFadden</u>, P. J. Cormier, P. Satija and M. Smith</p>
<p><i>Radical kinetics in sub- and supercritical carbon dioxide: thermodynamic rate tuning</i></p>
<p>Phys. Chem. Chem. Phys. <b>14</b>, 8502 (2012)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1039/C2CP41170A">10.1039/C2CP41170A</a></p>
</li>
<li>
<p>P. Satija, <u>R. M. L. McFadden</u>, P. Cormier, and K. Ghandi</p>
<p><i>Selectivity of free radical reactions with vinylidene fluoride in supercritical carbon dioxide, probed by muon spin spectroscopy</i></p>
<p>Int. Rev. Chem. Eng. <b>3</b>, 542 (2011)</p>
<p> <i class="fas fa-external-link-alt"></i> <a href="https://www.praiseworthyprize.org/latest_issues/IRECHE-latest/IRECHE_vol_3_n_5.html">https://www.praiseworthyprize.org/latest_issues/IRECHE-latest/IRECHE_vol_3_n_5.html</a></p>
</li>
</ol>
