<ol reversed id="publications">
<li>
<p><u>R. M. L. McFadden</u></p>
<p><i>Microscopic dynamics of isolated lithium in crystalline solids revealed by nuclear magnetic relaxation and resonance of <sup>8</sup>Li</i></p>
<p>PhD thesis (University of British Columbia, Vancouver, 2020) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.14288/1.0389972">10.14288/1.0389972</a></p>
</li>
</ol>
