<ol reversed id="publications">
<li>
<p><u>R. M. L. McFadden</u>, A. Chatzichristos, D. L. Cortie, D. Fujimoto, Y. S. Hor, H. Ji, V. L. Karner, R. F. Kiefl, C. D. P. Levy, R. Li, I. McKenzie, G. D. Morris, M. R. Pearson, M. Stachura, R. J. Cava, and W. A. MacFarlane</p>
<p><i>Local electronic and magnetic properties of the doped topological insulators Bi<sub>2</sub>Se<sub>3</sub>:Ca and Bi<sub>2</sub>Te<sub>3</sub>:Mn investigated using ion-implanted <sup>8</sup>Li β-NMR</i></p>
<p> <i class="ai ai-arxiv"></i> <a href="https://arxiv.org/abs/1911.12212">arXiv:1911.12212 [cond-mat.mtrl-sci]</a></p>
</li>
</ol>
