<ol reversed id="publications">
<li>
<p>A. Chatzichristos, <u>R. M. L. McFadden</u>, V. L. Karner, D. L. Cortie, C. D. P. Levy, W. A. MacFarlane, G. D. Morris, M. R. Pearson, Z. Salman, and R. F. Kiefl</p>
<p><i>Comparison of <sup>8</sup>Li and <sup>9</sup>Li spin relaxation in SrTiO<sub>3</sub> and Pt: a means to distinguish magnetic and electric quadrupolar sources of relaxation</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011048 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011048">10.7566/JPSCP.21.011048</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, A. Chatzichristos, M. H. Dehn, D. Fujimoto, H. Funakubo, A. Gottberg, T. Hitosugi, V. L. Karner, R. F. Kiefl, M. Kurokawa, J. Lassen, C. D. P. Levy, R. Li, G. D. Morris, M. R. Pearson, S. Shiraki, M. Stachura, J. Sugiyama, D. M. Szunyogh, and W. A. MacFarlane</p>
<p><i>On the use of <sup>31</sup>Mg for β-detected NMR studies of solids</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011047 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011047">10.7566/JPSCP.21.011047</a></p>
</li>
<li>
<p>A. C. Y. Fang, M. H. Dehn, <u>R. M. L. McFadden</u>, V. L. Karner, J. E. Sonier, W. A. MacFarlane, G. D. Morris, C. Gomez, K. Akintola, and R. F. Kiefl</p>
<p><i>Origin of the multi-peak muon frequency spectrum in the heavy fermion compound UBe<sub>13</sub></i></p>
<p>JPS Conf. Proc. <b>21</b>, 011029 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011029">10.7566/JPSCP.21.011029</a></p>
</li>
<li>
<p>V. L. Karner, <u>R. M. L. Mcfadden</u>, M. H. Dehn, D. Fujimoto, A. Chatzichristos, G. D. Morris, M. R. Pearson, C. D. P. Levy, A. Reisner, L. H. Tjeng, R. F. Kiefl, and W. A. Macfarlane</p>
<p><i>Beta-detected NMR of LSAT and YSZ</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011024 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011024">10.7566/JPSCP.21.011024</a></p>
</li>
<li>
<p>V. L. Karner, <u>R. M. L. Mcfadden</u>, A. Chatzichristos, G. D. Morris, M. R. Pearson, C. D. P. Levy, Z. Salman, D. L. Cortie, R. F. Kiefl, and W. A. Macfarlane</p>
<p><i>Beta detected NMR of LaAlO<sub>3</sub></i></p>
<p>JPS Conf. Proc. <b>21</b>, 011023 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011023">10.7566/JPSCP.21.011023</a></p>
</li>
<li>
<p>V. L. Karner, T. Liu, I. Mckenzie, A. Chatzichristos, D. L. Cortie, G. D. Morris, R. F. Kiefl, <u>R. M. L. Mcfadden</u>, Z. Fakhraai, M. Stachura, and W. A. Macfarlane</p>
<p><i>Exploring the dynamics of glasses using beta detected NMR</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011022 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011022">10.7566/JPSCP.21.011022</a></p>
</li>
<li>
<p>J. Sugiyama, I. Umegaki, S. Shiraki, T. Hitosugi, <u>R. M. L. McFadden</u>, D. Wang, V. Karner, G. D. Morris, W. A. MacFarlane, and R. F. Kiefl</p>
<p><i>Challenge for detecting the interface between electrode and electrolyte with β-NMR</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011021 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011021">10.7566/JPSCP.21.011021</a></p>
</li>
<li>
<p>W. A. MacFarlane, K. H. Chow, M. D. Hossain, V. L. Karner, R. F. Kiefl, <u>R. M. L. McFadden</u>, G. D. Morris, H. Saadaoui, and Z. Salman</p>
<p><i>The spin relaxation of <sup>8</sup>Li<sup>+</sup> in gold at low magnetic field</i></p>
<p>JPS Conf. Proc. <b>21</b>, 011020 (2018) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.7566/JPSCP.21.011020">10.7566/JPSCP.21.011020</a></p>
</li>
<li>
<p>M. Stachura, <u>R. M. L. McFadden</u>, A. Chatzichristos, M. H. Dehn, A. Gottberg, L. Hemmingsen, A. Jancso, V. L. Karner, R. F. Kiefl, F. H. Larsen, J. Lassen, C. D. P. Levy, R. Li, W. A. MacFarlane, G. D. Morris, S. Pallada, M. R. Pearson, D. Szunyogh, P. W. Thulstrup, and A. Voss</p>
<p><i>Towards <sup>31</sup>Mg-β-NMR resonance linewidths adequate for applications in magnesium chemistry</i></p>
<p>Hyperfine Interact. <b>238</b>, 32 (2017)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-017-1408-8">10.1007/s10751-017-1408-8</a></p>
</li>
<li>
<p>C. D. P. Levy, M. R. Pearson, M. H. Dehn, V. L. Karner, R. F. Kiefl, J. Lassen, R. Li, W. A. MacFarlane, <u>R. M. L. McFadden</u>, G. D. Morris, M. Stachura, A. Teigelhöfer, and A. Voss</p>
<p><i>Development of a polarized <sup>31</sup>Mg<sup>+</sup> beam as a spin-1/2 probe for BNMR</i></p>
<p>Hyperfine Interact. <b>237</b>, 162 (2016)</p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1007/s10751-016-1372-8">10.1007/s10751-016-1372-8</a></p>
</li>
<li>
<p>W. A. MacFarlane, T. J. Parolin, D. L. Cortie, K. H. Chow, M. D. Hossain, R. F. Kiefl, C. D. P. Levy, <u>R. M. L. McFadden</u>, G. D. Morris, M. R. Pearson, H. Saadaoui, Z. Salman, Q. Song, and D. Wang</p>
<p><i><sup>8</sup>Li<sup>+</sup> β-NMR in the cubic insulator MgO</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012033 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012033">10.1088/1742-6596/551/1/012033</a></p>
</li>
<li>
<p><u>R. M. L. McFadden</u>, D. L. Cortie, D. J. Arseneau, T. J. Buck, C.-C. Chen, M. H. Dehn, S. R. Dunsiger, R. F. Kiefl, C. D. P. Levy, C. Li, G. D. Morris, M. R. Pearson, D. Samuelis, J. Xiao, J. Maier, and W. A. MacFarlane</p>
<p><i>β-NMR of <sup>8</sup>Li<sup>+</sup> in rutile TiO<sub>2</sub></i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012032 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012032">10.1088/1742-6596/551/1/012032</a></p>
</li>
<li>
<p>D. Cortie, T. Buck, <u>R. M. L. McFadden</u>, J. Xiao, C. D. P. Levy, M. Dehn, M. Pearson, G. D. Morris, S. R. Dunsiger, R. F. Kiefl, F. J. Rueß, A. Fuhrer, and W. A. MacFarlane</p>
<p><i>β-NMR study of a buried Mn δ-doped layer in a silicon host</i></p>
<p>J. Phys.: Conf. Ser. <b>551</b>, 012023 (2014) <i class="ai ai-open-access" style="color:orangered"></i></p>
<p> <i class="ai ai-doi"></i> <a href="https://doi.org/10.1088/1742-6596/551/1/012023">10.1088/1742-6596/551/1/012023</a></p>
</li>
</ol>
